/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* Styles for both pages*/
body{
	width: 80%;
	margin: 0 auto;
}

/* Nav Bar Styles */
nav{
	margin: 30px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a{
	text-decoration: none;
	color: lightgray;
}

nav a:hover{
	text-decoration: underline;
}

.copyright{
	display: flex;
	justify-content: center;
	margin: 30px 0;
}
/* End of styles for both pages*/

/* Styles for Maing page */
/* Header Content Styles */
.header-content{
	margin: 30px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.title-container{
	flex: 2;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.title-container h1{
	font-size: 70px;
}

.header-content button{
	border: 1px solid black;
	padding: 10px 50px;
}

.header-content img{
	flex: 1;
}

/* Body Content Styles */
.top-section{
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.content-top{
	max-width: 49%;
}

section img{
	width: 100%;
}

.bottom-section{
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.content-bottom{
	max-width: 32%;
}

/* Footer Styles */
footer{
	margin: 30px 0;
}

.contact{
	display: flex;
	flex-direction: column;
}

.contact a{
	margin: 10px 0;
	text-decoration: none;
	color: black;
}
/* End of styles for main page */

/* Styles for Service Page */
/* End of styles for service page */

